html{
font-size:10px;
}

body{

font-family: 'Poppins', sans-serif;
background-image: url("./bg-image.jpg");
background-size: cover;
margin:2rem;
font-size:1.5rem;
}

main{
display: flex;
align-items: flex-start;
justify-content: center;
align-content: center;
margin:3rem 2rem;
}
input[type="number"]::-webkit-inner-spin-button{
display: none;
}

.currency-container{
background: rgba( 255, 255, 255, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border: 1px solid rgba( 255, 255, 255, 0.18 );
border-radius: 2rem;
display: flex;
justify-content: space-around;
align-items: center;
gap:1rem;
padding:1.5rem;
width:90rem;
}
.textbox{
display: block;
width:18rem;
height:4.5rem;
border:none;
border-radius: 1rem;
background-color:whitesmoke;
margin: 2rem 0;
padding:1.5rem;
font-size:2rem;
color:rgb(29, 29, 134);
transition: all 0.3s ease-out;
}
.textbox:focus{
outline:none;
 box-shadow: 0 0 5px rgb(29, 29, 134);
border:1.8px solid rgb(29, 29, 134);
}
.currency-container div{
margin:1rem;
}

#result{
font-size: 2.2rem;
color:rgb(29, 29, 134);
margin:0;
}

#amount{
margin: 1.5rem 0;
padding:1rem;
font-size:1.8rem;
}
.btn{
font-size:1.6rem;
padding:1rem;
width:15rem;
height:4rem;
}
#arrow{
font-size:2rem;
}
#sw{
width:8rem;
}
.HighlightResult{
color:orangered;
font-weight: bold;
}
.title{
font-family: 'Acme', sans-serif;
font-size:2.5rem;
color:white;
text-align: center;
margin:1rem 2rem;
}
#heading{
font-size:4rem;
letter-spacing: 3px;
color:orangered;
}
.header{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;

}
.content-display{
font-family: 'Fira Sans', sans-serif;
font-size:2.5rem;
color:wheat;
letter-spacing: 2px;
text-transform: uppercase;
font-weight: 700;

}
.sub-head{
color:rgb(29, 29, 134);
margin:1rem 0 0 0;
font-family: 'Fira Sans', sans-serif;
}
.currency-from-to{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

/*media queries*/
@media(max-width:700px)
{
.currency-container{
display: flex;
flex-direction: column;
justify-content: center;
}
#arrow{
transform: rotate(90deg);

}
.displayResult{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
}
